<%= form_with(model: todo, local: true) do |form| %>
  <% if todo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(todo.errors.count, "error") %> prohibited this todo from being saved:</h2>

      <ul>
      <% todo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container">
    <div class="form-group">
      <div class="field">
        <label for="exampleFormControlTextarea1">Libellé de l'action</label>
        <%= form.text_field :label , type:"text", class:"form-control" %>
      </div>

      <div class="field">
        <label for="exampleFormControlTextarea1">Description de l'action</label>
        <%= form.text_area :action_desc, type:"textarea", class:"form-control", rows:"5" %>
      </div>

      <div class="field">
        <label for="exampleFormControlTextarea1">N° situation</label>
        <%= form.text_field :report_id %>
      </div>

    <div class="actions">
      <%= form.submit 'Enregistrer', class: 'btn btn-primary'  %>
    </div>
<% end %>
