<p id="notice"><%= notice %></p>

<p>
  <strong>Label:</strong>
  <%= @todo.label %>
</p>

<p>
  <strong>Action desc:</strong>
  <%= @todo.action_desc %>
</p>

<p>
  <strong>Attaché à la situation:</strong>
  <% @signalement = Report.find_by(id: @todo.report_id)%>
  <%= @signalement.label %>
</p>

<%= link_to 'Edit', edit_todo_path(@todo) %> |
<%= link_to 'Back', todos_path %>
