<div class="modal-header">
   <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
   <h3 id="myModalLabel">Ajoute un mot-clé</h3>
</div>
<div class="modal-body">
  <%= form_with(model: keyword, local: true) do |form| %>
    <% if keyword.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(keyword.errors.count, "error") %> prohibited this keyword from being saved:</h2>
        <ul>
        <% keyword.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :label %>
      <%= form.text_field :label %>
    </div>

    <div class="field">
      <%= form.label :report_id %>
      <%= form.text_field :report_id %>
    </div>

    <div class="actions">
      <%= form.submit "Enregistrer" %>
    </div>
  <% end %>
</div>
<div class="modal-footer">
  <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  <button class="btn btn-primary">Save changes</button>
</div>