
  <%= form_with(model: keyword, local: true) do |form| %>
    <% if keyword.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(keyword.errors.count, "error") %> prohibited this keyword from being saved:</h2>
        <ul>
        <% keyword.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <label for="exampleFormControlTextarea1">Mots-clés</label>
      <%= form.text_field :label %>
    </div>

    <div class="field">
      <label for="exampleFormControlTextarea1">Attaché à la situation:</label>
      <%= form.text_field :report_id %>
    </div>

    <div class="actions">
      <%= form.submit "Enregistrer", class: 'btn btn-primary'   %>
    </div>
  <% end %>
</div>