<p id="notice"><%= notice %></p>

  <!-- Zone formualaire de recherche -->

  <div class="container">
    <%= form_tag(reports_path method: :get) do %>
      Une situation ? <%= text_field_tag :search %>
      <%= submit_tag ("Chercher") %>
    <% end %>
  </div>
<hr>
<div class="container">
  <h1>Les situations</h1><br> 
  <button type="button" class="btn btn-outline-success"><%= link_to 'Créer un signalement', new_report_path %></button>
  <hr>  
  <div class="row">
    <% @reports.each do |report| %>
      <div class="col-4">
        <h5><%= report.label %>
        <p><%= report.descrption %><br>
        <!--<td><%= report.visible %>-->
        <%= link_to 'voir', report, type:"button", class:"btn btn-outline-success" %>        
        <%= link_to 'éditer', edit_report_path(report), type:"button", class:"btn btn-outline-primary" %>
        <%= link_to 'supprimer', report, method: :delete, type:"button", class:"btn btn-outline-danger", data: { confirm: 'Etes-vous sûr ?' } %>
      </div>
    <% end %>
  </div>
</div>


