<p id="notice"><%= notice %></p>

<!-- Zone formualaire de recherche -->
<div class="container">
  <%= simple_form_for :search, url: reports_path, method: "GET", html: { class: 'form-inline' } do |f| %>
    <%= f.input :label, label: false, placeholder: 'mots-clés', input_html: {value: ""} %>   
    <%= f.submit "Chercher", class: "btn btn-primary" %>
  <% end %>
</div>

<div class="container">
  <h1>Les situations</h1><br> 
  <%= link_to 'Créer une situation', new_report_path, type:"button", class:"btn btn-outline-success" %>
  <hr>  
  <div class="row">
    <% @reports.order(id: :desc).each do |report| %>
      <div class="col-4">
        <h5><%= report.label %>
        <p><%= report.descrption %><br>
        <% if report.visible %>
          <p class="card-text text-success">Décision comité : validé</p>
        <% else %>
          <p class="card-text text-warning">Décision comité : en-cours de validation</p>
        <% end %>
        <%= link_to 'voir', report, type:"button", class:"btn btn-outline-success" %>        
        <%= link_to 'éditer', edit_report_path(report), type:"button", class:"btn btn-outline-primary" %>
        <%= link_to 'supprimer', report, method: :delete, type:"button", class:"btn btn-outline-danger", data: { confirm: 'Etes-vous sûr ?' } %>
      </div>
    <% end %>
  </div>
</div>


