<p id="notice"><%= notice %></p>

<p>
  <strong>Label:</strong>
  <%= @report.label %>
</p>

<p>
  <strong>Descrption:</strong>
  <%= @report.descrption %>
</p>

<p>
  <strong>Visible:</strong>
  <%= @report.visible %>
</p>

<%= link_to 'Editer', edit_report_path(@report) %> |
<%= link_to 'Retour', reports_path %>
<%= link_to 'Accueil', root_path %>